*
	padding 0
	margin 0
	box-sizing border-box

.main
	border 1px black solid
	height 100vh
	display flex
	flex-direction column
	align-items center
	justify-content space-around

	#game
		width 320px
		display flex
		flex-direction column

		&.hide
			display none

		#score-wrap
			display flex
			justify-content space-around
			margin-bottom 10px
			#all-games:before
				content 'all games '

			#score:before
				content 'score '

		#repeat-btn
			font-size 44px

		#example
			font-size 44px
			font-family math
			margin-top 10px
			text-align center

		#check
			font-size 32px

		.input-wrap
			margin 10px 0

			#input
				padding 10px
				font-size 32px
				width 100%

	.start
		width 320px
		display flex
		flex-direction column

		#run
			font-size 32px

		.range
			display flex
			align-items center
			justify-content space-between
			input
				padding 5px 11px
				font-size 20px
				width 20%
				display block
