* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  border: 1px #000 solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main #score-wrap {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 320px;
}
.main #score-wrap #all-games:before {
  content: 'all games ';
}
.main #score-wrap #score:before {
  content: 'total score ';
}
.main #game {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.main #game.hide {
  display: none;
}
.main #game #repeat-btn {
  font-size: 44px;
}
.main #game #example {
  font-size: 44px;
  font-family: math;
  margin-top: 10px;
  text-align: center;
}
.main #game #check {
  font-size: 32px;
}
.main #game .input-wrap {
  margin: 10px 0;
}
.main #game .input-wrap #input {
  padding: 10px;
  font-size: 32px;
  width: 100%;
}
.main #game #points {
  font-size: 44px;
  text-align: center;
  height: 120px;
  padding-top: 30px;
}
.main #game #points:before {
  content: 'points ';
}
.main .start {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.main .start #run {
  font-size: 32px;
}
.main .start .range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .start .range input {
  padding: 5px 11px;
  font-size: 20px;
  width: 20%;
  display: block;
}
